.detail-field-name{
    font-weight: bold;
}

.detail-item{
    margin: 5px 0;
}

.detail-table-head-cell{
    font-weight: 800;
    /* background-color: blueviolet; */
}

.detail-demo-button{
    display: inline;
    padding: 0 0 0 20px;
}